<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>设计师写 Markdown</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="bower_components/angular-material/themes/light-blue-dark-theme.css" />
    <link rel="stylesheet" href="bower_components/angular-material/themes/orange-theme.css" />
    <link rel="stylesheet" href="styles/fontello.css">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="app" ng-controller="MainCtrl">

    <md-button class="md-fab md-primary generate" clip-copy="generate()" aria-label="generate">
      <i class="icon-doc"></i>
    </md-button>

    <md-content md-theme="light-blue-dark">
      <!-- 快捷键说明 -->
      <div class="key-shortcut">
        <h3>快捷键说明</h3>
        <span>'Enter'</span>: &nbsp;添加一行, &nbsp;
        <span>'Command + Delete'</span>: &nbsp;删除当前行, &nbsp;
        <span>'&#8593; &#8595; &#8592; &#8594;'</span>: &nbsp;单元格切换
      </div>

      <!-- 本周 -->
      <div class="container" id="thisWeek">
        <div class="row">
          <md-text-float class="long" label="This Week" ng-model="thisWeek.title"></md-text-float>
        </div>
        <div class="row">
          <table>
            <thead>
              <th ng-repeat="x in thisWeek.cols" width={{x.width}}>{{x.text}}</th>
            </thead>
            <tbody>
              <tr ng-repeat="x in thisWeek.rows">
                <td ng-repeat="y in thisWeek.cols">
                  <md-text-float ng-model="x['col_' + $index]"
                  ng-keydown="keyboard.keydown($event, 'thisWeek', $parent.$index, $index)"
                  ng-keyup="keyboard.keyup($event, 'thisWeek')"></md-text-float>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- 下周 -->
      <div class="container"  id="nextWeek">
        <div class="row">
          <md-text-float class="long" label="Next Week" ng-model="nextWeek.title"></md-text-float>
        </div>
        <div class="row">
          <table>
            <thead>
              <th ng-repeat="x in nextWeek.cols">{{x.text}}</th>
            </thead>
            <tbody>
              <tr ng-repeat="x in nextWeek.rows">
                <td ng-repeat="y in nextWeek.cols">
                  <md-text-float ng-model="x['col_' + $index]"
                  ng-keydown="keyboard.keydown($event, 'nextWeek', $parent.$index, $index)"
                  ng-keyup="keyboard.keyup($event, 'nextWeek')"></md-text-float>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- 吐槽 -->
      <div class="container">
        <div class="row">
          <md-text-float class="long" label="Thoughts" ng-model="thoughts.title"></md-text-float>
        </div>
        <div class="row">
          <textarea ng-model="thoughts.content"></textarea>
        </div>
      </div>
    </md-content>



    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/hammerjs/hammer.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/zeroclipboard/dist/ZeroClipboard.js"></script>
    <script src="bower_components/ng-clip/dest/ng-clip.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/week.js"></script>
        <script src="scripts/thought.js"></script>
        <!-- endbuild -->
</body>
</html>
